<header class="header">
  <div class="header__container">
    <div class="header__profile">
      <img [src]="photo" alt="Profile" class="header__avatar">
      
      <div class="header__info">
        <h1 class="header__name">{{fullName}}</h1>
        <p class="header__title">{{tecnologiasArr | joinText}}</p>
        <p class="header__location">{{location}}</p>
      </div>
      
      <div class="header__social">
        <a href="https://github.com" target="_blank" class="header__social-link">
          <mat-icon>code</mat-icon> GitHub
        </a>
        <a href="https://linkedin.com" target="_blank" class="header__social-link">
          <mat-icon>work</mat-icon> LinkedIn
        </a>
        <a href="https://instagram.com" target="_blank" class="header__social-link">
          <mat-icon>photo_camera</mat-icon> Instagram
        </a>
      </div>
    </div>

    <nav class="header__nav">
      <!-- <mat-tab-group>
        <mat-tab *ngFor="let link of navLinks" [label]="link.label">
          <ng-template mat-tab-label>
            <a [routerLink]="link.path" routerLinkActive="active">
              {{ link.label }}
            </a>
          </ng-template>
        </mat-tab>
      </mat-tab-group> -->

      <mat-tab-group>
        @for (link of navLinks; track link.id) {
          <mat-tab>
            <ng-template mat-tab-label>
              <a [routerLink]="link.path">
                {{ link.label }}
              </a>
            </ng-template>
          </mat-tab>
        }
      </mat-tab-group>
    </nav>
  </div>
</header>
