.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  &__header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  &__main {
    flex: 1;
    padding: 2rem;
    
    @media (max-width: 768px) {
      padding: 1rem;
    }
  }
  
  &__footer {
    margin-top: auto;
  }
}