@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

.proyectos {
  width: 100%;
  background-color: $color-background-main;
  padding: $spacing-xl 0;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-md;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr; // mobile
    gap: $spacing-lg;

    @include from-tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
