@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

.profile {
  background-color: $color-background-dark;
//   padding: $spacing-lg 0;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-xs;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-lg;

    @include from-tablet {
      padding: 0 $spacing-md;
      gap: 1rem;
    }
  }
  &__profile {
    // MOBILE (estilos base)
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-md;
    text-align: center;

    // TABLET (768px+)
    // @media (min-width: 768px) {
    //   flex-direction: row;
    //   align-items: flex-start;
    //   gap: 2rem;
    //   text-align: left;
    // }

    @include from-tablet {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      text-align: left;
    }

    // DESKTOP (1024px+)
    // @media (min-width: 1024px) {
    //   gap: 2.5rem;
    // }

    @mixin from-desktop {
      gap: 2.5rem;
    }
  }

  &__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid $color-primary;

    @include from-desktop {
      width: 160px;
      height: 160px;
    }
  }

  &__informacion-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include from-tablet {
      align-items: self-start;
    }
  }

  &__info {
  }

  &__name {
    font-size: 2rem;
    color: $color-text-primary;
    margin-bottom: $spacing-xs;
  }

  &__title {
    color: $color-text-secondary;
    font-size: 1rem;
    margin-bottom: $spacing-xs;
  }

  &__location {
    color: $color-text-secondary;
    font-size: 0.9rem;
  }

  &__social {
    display: flex;
    gap: $spacing-md;

    &-link {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: $color-text-secondary;
      transition: color $transition-fast;

      &:hover {
        color: $color-primary;
      }
    }

    @include from-desktop {
      gap: 2.5rem;
    }
  }

  &__nav {
    width: 100%;
  }

  @include from-desktop {
    // padding: 1.2rem 0 1.2rem 0;
  }
}
