@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;


.footer{
    background-color: $color-background-dark;
    padding: $spacing-lg 0;
  
    &__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__text{
        color: $color-text-secondary;
        font-size: 0.9rem;
    }
}