// 1. Angular Material
@use '@angular/material' as mat;

@include mat.core();

// Define palettes
$my-primary: mat.define-palette(mat.$blue-palette, 500);
$my-accent: mat.define-palette(mat.$grey-palette, 400);
$my-warn: mat.define-palette(mat.$red-palette);

// Create dark theme
$my-dark-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-dark-theme);

// 2. Custom styles
@use './styles/abstracts/variables';
@use './styles/abstracts/mixins';
@use './styles/base/reset';
@use './styles/base/typography';
@use './styles/base/base';
@use './styles/themes/dark-theme';

