@use '../abstracts/variables' as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-text-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

p {
  margin-bottom: 1rem;
  color: $color-text-secondary;
}

a {
  color: $color-primary;
  transition: color $transition-fast;

  &:hover {
    color: lighten($color-primary, 10%);
  }
}